.mainDivContainer{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
   /* border: dotted black;  */
   display: flex;
   height: 100dvw;
   overflow: hidden;
   box-sizing: border-box;

}
.subDiv1{
    
    flex:1 ;
   
    /* border: dotted black; */
   
}

.subDiv2{
   flex: 1;
   
}
/* container and cards of subDiv1*/
.subDiv1_CardContainer{
    
    width:50%;
    display: flex;
    flex-direction: column;
    gap:50px;
    position: relative;
    padding-left: 50px;
 
   

    /* border: dotted green; */
}
.subDiv1_Container_Card1{
    
    /* border: dotted black; */
    background-color:black;
    height: fit-content;
   color: white;
}
.subDiv1_Container_Card2{
    /* border: dotted black; */
   
    height: fit-content; 
}
.card1Content{
    
position: relative;
left: 5px;
}
hr{
    width:75%;
}

/* subdiv1 card2 */
.card2ContantContainer{
    display: flex;
    flex-direction: column;
   
}
.skillsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}
.subDiv1_Card2_Skills{
    letter-spacing: 3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
    margin: 0;
  flex: content;
  color: white;
  background-color: black;
  padding: 5px;
}
.subDiv1_Card2_Skills h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    text-align: center;
}